<mat-card *ngIf="success" class="success">{{success}}</mat-card>
<mat-card *ngIf="error" class="error">{{error}}</mat-card>
<div class="flex-container">
  <div class="flex-container-vertical">
    <form #pathForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!formDisabled">
      <mat-form-field>
        <input matInput name="pathName" [(ngModel)]="pathSelector.Name" type="text" placeholder="Name" required [disabled]="editing">
      </mat-form-field>
      <mat-form-field class="predicate-form">
        <input matInput name="filter" [(ngModel)]="pathSelector.PP" type="text" placeholder="Filter Predicate" required>
        <mat-hint align="start">
          E.g. To select paths going through ISD-AS 1-ff00:0:110:
          <strong>1-ff00:0:110#0</strong>
        </mat-hint>
      </mat-form-field>
      <button mat-button type="submit" *ngIf="!editing" [disabled]="pathForm.invalid">
        <mat-icon>add_box</mat-icon>
      </button>
      <button mat-button type="submit" *ngIf="editing" [disabled]="pathForm.invalid">
        <mat-icon>save</mat-icon>
      </button>
    </form>
    <mat-list>
      <mat-list-item *ngFor="let path of pathSelectors; let idx = index" class="path-list-row">
        <p class="name">{{path.Name}}</p>
        <p class="predicate">{{path.PP}}</p>
        <button *ngIf="!formDisabled && path.Name!='any'" mat-icon-button (click)="edit(idx)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!formDisabled && path.Name!='any'" (click)="delete(idx)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-card class="help">
    <mat-card-header>
      <mat-card-title>Path selectors</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Path selectors can be used to choose a subset of paths from a larger set. For example, if a SIG can reach a remote AS via
        two paths, one through ISD-AS 1-ff00:0:110 and one through ISD-AS 1-ff00:0:111, a path selector can be used to tell
        the SIG to always prefer the one through ASff00:0:111. A filter is a comma separated string of ISD-AS#IFID tokens,
        each token representing a condition. Wildcards can be specified for via a 0 value for an ISD, AS or IFID.</p>
    </mat-card-content>
  </mat-card>
</div>
