.name {
    width: 180px;
}

.predicate-form {
    width: 450px;
}

.predicate {
    width: 427px;
}

mat-list {
    margin-top: 20px;
    margin-left: -16px;
    p {
        margin-right: 4px;
    }
}
