mat-nav-list {
    margin-left: -16px;
}

.isd-form {
    width: 100px;
}

.as-form {
    width: 250px;
}

.name {
    width: 180px;
    display: inline-block;
}

.as-name {
    width: 165px;
    display: inline-block;
}

.isd-name {
    width: 100px;
    display: inline-block;
}
