mat-list {
    margin-left: -16px;
    span {
        width: 185px;
        display: inline-block;
    }
    .port {
        width: 130px;
    }
    .ctrl-port {
        width: 90px;
    }
}

form {
    height: 50px;
    .port {
        width: 135px;
    }
}
