mat-list {
    margin-left: -16px;

    span {
        width: 185px;
        display: inline-block;
    }

    .port {
        width: 123px;
    }
}

form {
    height: 50px;

    .port {
        width: 120px;
    }
}
