.flex-container {
    width: 100%;
    .cond {
        width: 100%;
    }
}

.mat-icon-button {
    width: 36px;
    height: 36px;
}

.button-container {
    width: 0;
}

.delete {
    top: 8px;
    right: 80px;
}

.insert {
    top: 8px;
    right: 80px;
}

.add-menu {
    left: auto;
    right: 80px;
}
