mat-list {
    margin-top: 20px;
    margin-left: -16px;

    mat-list-item {
        p {
            width: 395px;
        }
    }
}

.mat-form-field {
    width: 390px;
}

.mat-form-field-label-wrapper {
    display: none;
}