@import '~@angular/material/theming';
@import "~@ng-select/ng-select/themes/material.theme.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'base';

// Create the theme object (a Sass map containing all of the palettes).
// $anapaya-theme: mat-light-theme($anapaya-primary, $anapaya-accent, $anapaya-warn);
$anapaya-theme: mat-light-theme($anapaya-primary, $anapaya-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($anapaya-theme);
