{{ if len . | ne 0 }}
    <div class="log">
        <h2> Console </h2>
        {{ range . }}
            <p>
            <span class="{{ .Lvl }}">
            <span> {{.Time.Format "Mon Jan 02 15:04:05 2006"}} </span>
            <span> [{{ upper .Lvl}}] </span>
            <span> {{.Msg}} </span>
            {{ range pairs .Ctx }}
                <span class="key"> {{ .Key -}}=</span><span>{{- .Value }} </span>
            {{ end }}
            </span>
            </p>
        {{end}}
    </div>
{{ end }}
