{{ template "logs.html" .Log.Records }}

{{ $features := .Features }}

<h2> Configuring site {{.Site.Name}} ({{.Site.PrintHosts}})</h2>
{{ $site := .Site.Name }}

<h3> Management </h3>
    <form action="/config/as?site={{$site}}&action=push" method="post">
    <table>
        <tr> <td> <input type="submit" value="Push and reload config" title="Copy config to remote SIG and load it" /> </td> </tr>
    </table>
    </form>

{{ if $features.Advanced }}
<h3> Remote ASes </h3>
    <form action="/config/as?site={{$site}}&action=add-ia" method="post">
    <table>
        <tr class="header"> <th> ISD </th> <th> AS </th>  <th class="tail"> </th> </tr>
        {{ if len .Cfg.ASes | eq 0 }}
        <tr> <td colspan="2" class="info"> No ASes defined </td> </tr>
        {{ else }}
            {{ range $key, $value := .Cfg.ASes }}
            <tr> <td> {{$key.I}} </td> <td> {{$key.A}} </td>
                <td class="actions">
                    <a title="Delete" href="/config/as?site={{$site}}&action=delete-ia&ia={{$key}}"><img class="actionb" src="/static/delete_button.png"/></a>
                </td> </tr>
            {{ end }}
        {{ end }}

        <tr>
            <td> <input type="text" name="ISD"/> </td>
            <td> <input type="text" name="AS"/> </td>
            <td> <input type="image" title="Submit" src="/static/add_button.png" alt="Submit" class="submitimg"/> </td>
        </tr>
    </table>
    </form>
{{ end }}

{{ if $features.Advanced }}
<h3> Path selectors </h3>
    <form action="/config/as?site={{$site}}&action=add-pp" method="post">
    <table>
        <tr class="header"> <th> Name </th> <th> Filter </th> <th class="tail"> </th> </tr>
        {{ if len .Cfg.Actions | eq 0 }}
        <tr> <td colspan="2" class="info"> No path predicates configured </td>  </tr>
        {{ else }}
            {{ range .Cfg.Actions }}
            <tr> <td> {{.Name}} </td> <td> {{.}} </td> <td class="actions">
                    <a title="Delete" href="/config/as?site={{$site}}&action=delete-pp&name={{.Name}}"><img class="actionb" src="/static/delete_button.png"/></a>
                </td> </tr>
            {{ end }}
        {{ end }}
        <tr>
            <td> <input type="text" name="name" /> </td>
            <td> <input type="text" name="pp" /> </td>
            <td> <input type="image" title="Submit" src="/static/add_button.png" alt="Submit" class="submitimg"/> </td>
        </tr>
    </table>
    </form>
{{ end }}

{{ $actions := .Cfg.Actions }}
{{ $policies := .Policies }}
{{ $hadLogs := len .Log.Records }}
{{ $allSessionAliases := .AllSessionAliases }}
{{ range $iaint, $as := sortByIA .Cfg.ASes }}
    {{ $ia := iaIntToIA $iaint }}
    <div class="ASPanel" {{ if not $hadLogs }} id="{{$ia}}" {{ end }}>
        <h3> AS {{ $ia }} </h3>
            <h4> Remote IPv4 networks </h4>
            <form action="/config/as?site={{$site}}&ia={{$ia}}&action=add-network#{{$ia}}" method="post">
            <table>
                <tr> <th> CIDR </th>  <th class="tail"> </th> </tr>
                {{ if len .Nets | eq 0 }}
                <tr> <td colspan="1" class="info"> No networks defined </td> </tr>
                {{ else }}
                    {{ range .Nets }}
                    <tr> <td> {{.}} </td> <td class="actions">
                            <a title="Delete" href="/config/as?site={{$site}}&ia={{$ia}}&cidr={{.}}&action=delete-network#{{$ia}}"><img class="actionb" src="/static/delete_button.png"/></a>
                        </td> </tr>
                    {{ end }}
                {{ end }}
                <tr>
                    <td> <input type="text" name="cidr"/> </td>
                    <td> <input type="image" title="Submit" src="/static/add_button.png" alt="Submit" class="submitimg"/> </td>
                </tr>
            </table>
            </form>


            <h4> Remote SIGs </h4>
            <form action="/config/as?site={{$site}}&ia={{$ia}}&action=add-sig#{{$ia}}" method="post">
            <table>
                <tr> <th> Name </th> <th> Address </th> <th> EncapPort </th> <th> CtrlPort </th> <th class="tail"> </th> </tr>
                {{ if len .Sigs | eq 0 }}
                <tr> <td colspan="4" class="info"> No SIGs defined </td> </tr>
                {{ else }}
                    {{ range .Sigs }}
                    <tr> <td> {{.Id}} </td> <td> {{ .Addr }} </td> <td> {{ .EncapPort }} </td> <td> {{ .CtrlPort }} </td> <td class="actions">
                            <a title="Delete" href="/config/as?site={{$site}}&ia={{$ia}}&name={{.Id}}&action=delete-sig#{{$ia}}"><img class="actionb" src="/static/delete_button.png"/></a>
                    </td>
                    {{ end }}
                {{ end }}
                <tr>
                    <td> <input type="text" name="SigName"/> </td>
                    <td> <input type="text" name="Addr"/> </td>
                    <td> <input type="text" name="EncapPort"/> </td>
                    <td> <input type="text" name="CtrlPort"/> </td>
                    <td> <input type="image" title="Submit" src="/static/add_button.png" alt="Submit" class="submitimg"/> </td>
                </tr>
            </table>
            </form>

            <h4> Sessions </h4>
            {{ if not $features.Advanced }}
            <table>
                {{ $sessionAliases := getSessionAliasesFromIA $allSessionAliases $ia }}
                <tr> <th> Session Alias </th> </tr>
                {{ if len $sessionAliases | eq 0 }}
                <tr> <td> No Session Aliases defined </td> </tr>
                {{ else }}
                    {{ range $key, $value := $sessionAliases }}
                        <tr> <td> {{ $key }} </td> </tr>
                    {{ end }}
                {{ end }}
            </table>
            {{ else }}
            <form action="/config/as?site={{$site}}&ia={{$ia}}&action=add-session#{{$ia}}" method="post">
            <table>
                <tr> <th> ID (between 0 and 255) </th> <th> Path selector </th> <th class="tail"> </th> </tr>
                {{ if len .Sessions | eq 0 }}
                <tr> <td colspan="2" class="info"> No Sessions defined </td> </tr>
                {{ else }}
                    {{ range $key, $value := .Sessions }}
                    <tr> <td> {{$key}} </td> <td>  {{$value}} </td> <td class="actions">
                            <a title="Delete" href="/config/as?site={{$site}}&ia={{$ia}}&sessionname={{$key}}&pathselector={{$value}}&action=delete-session#{{$ia}}"><img class="actionb" src="/static/delete_button.png"/></a>
                    </td> </tr>
                    {{ end }}
                {{ end }}
                <tr>
                    <td> <input type="text" name="sessionname" style="width:100%;"/> </td>
                    <td>
                        <select name="pathselector">
                            {{ range $actions }}
                                <option value="{{.Name}}"> {{.Name}} </option>
                            {{ end }}
                        </select>
                    </td>
                    <td> <input type="image" title="Submit" src="/static/add_button.png" alt="Submit" class="submitimg"/> </td>
                </tr>
            </table>
            </form>
            {{ end }}

            <h4> Packet classifier rules </h4>
            <form action="/config/as?site={{$site}}&ia={{$ia}}&action=set-policy" method="post">
                <table>
                    <tr> <td valign="top"> Config: </td> <td> <textarea name="policy" rows="8" cols="80"> {{- getPolicyFromIA $policies $ia -}} </textarea> </tr>
                    <tr> <td> </td>
                    <td> <input type="submit" value="Save traffic rules"/> </td>
                    </tr>
                </table>
            </form>

    </div>
{{ end }}
