body {
    margin: 0;
}

img {
    margin: 0 auto;
    max-width: 60%;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-container-left {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.flex-container-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: right;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
}

.mat-card.success,
.success {
    color: green;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.mat-card.error,
.error {
    color: red;
    padding: 15px 20px;
    margin-bottom: 15px;
}

mat-card {
    &.help {
        width: 300px;
        height: fit-content;
    }
}

mat-card-title {
    font-weight: 500 !important;
}
