<div anaMouseover>
  <span>ALL</span>
  <div class="indented popover-wrapper">
    <button mat-icon-button (click)="showAdd = !showAdd" *ngIf="!showAdd">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="showAdd = !showAdd" *ngIf="showAdd">
      <mat-icon>indeterminate_check_box</mat-icon>
    </button>
    <div class="add-menu" *ngIf="showAdd">
      <button mat-button (click)="addAny()">ANY</button>
      <button mat-button (click)="addAll()">ALL</button>
      <button mat-button (click)="addNot()">NOT</button>
      <button mat-button (click)="addSrc()">SRC</button>
      <button mat-button (click)="addDst()">DST</button>
      <button mat-button (click)="addDscp()">DSCP</button>
      <button mat-button (click)="addCls()">CLASS</button>
    </div>
  </div>
  <div class="indented" *ngFor="let cond of cond.Conds; let ind = index">
    <ana-cond [cond]="cond" (deleted)="delete(ind)" (insert)="insert(ind, $event)"></ana-cond>
  </div>
</div>
