<mat-card *ngIf="success" class="success">{{success}}</mat-card>
<mat-card *ngIf="error" class="error">{{error}}</mat-card>
<div class="flex-container">
  <form #classifierForm="ngForm" (submit)="onSubmit()">
    <mat-form-field>
      <textarea matInput name="id" [(ngModel)]="policy.Policy" matTextareaAutosize matAutosizeMinRows="3" placeholder="name=audio src=172.16.0.0/24 dst=192.168.0.0/16 dscp=0x12 sessions=1,2,3,0">
      </textarea>
      <mat-hint>
        <strong>Contains traffic policy rules, one per line. One type of rule is supported, which tells packets matching certain
          criteria which SCION path to use.</strong>
      </mat-hint>
    </mat-form-field>
    <button mat-button type="submit">
      <mat-icon>save</mat-icon>
    </button>
  </form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Traffic Policies</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Contains traffic policy rules, one per line. One type of rule is supported, which tells packets matching certain criteria
        which SCION path to use. All fields need to be satisfied for the rule to take effect:</p>
      <pre><code>name=NAME [ src=NETWORK ] [ dst=NETWORK ] [ dscp=DSCP ] sessions=SESSIONS</code></pre>
      <p>
        <code>NAME</code> is used to link the class of traffic to the corresponding policy. Names can only contain letters, digits and underscores.</p>
      <p>
        <code>NETWORK</code> must be specified in CIDR format, e.g., 172.16.0.0/24.</p>
      <p>
        <code>DSCP</code> can be specified in decimal, octal (via a leading 0) or hexadecimal (via a leading 0x) notation.</p>
      <p>
        <code>SESSIONS</code> is a comma-separated list of SCION Session identifiers in descending priority, e.g.,
        <code>1,2,3</code>. If a session is not available (i.e., due to no paths matching its path selector), the next session is used.</p>
      <p>For example, the following command tells traffic coming from network 172.16.0.0/24 and going to network 192.168.0.0/16,
        with DSCP bits set to 0x12 to use sessions 1, 2, 3, and 0:</p>
      <pre><code>name=audio src=172.16.0.0/24 dst=192.168.0.0/16 dscp=0x12 sessions=1,2,3,0</code></pre>
    </mat-card-content>
  </mat-card>
</div>