@import '../assets/styles/base';

mat-toolbar {
    justify-content: space-between;
    margin-bottom: 50px;
    img {
        width: 100px;
        margin-left: 40px;
        margin-top: 10px;
    }
    a {
        font-size: 16px;
        padding-left: 18px;
    }
}

main {
  margin: 0 10px;
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: mat-color($anapaya-primary);
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  div {
    display: flex;
    justify-content: center;
    padding: 15px 40px;

    span {
      padding: 0 20px;
    }
  }
}
