<mat-toolbar color="primary">
  <span>SIGWeb: Policy Configurator</span>
  <div class="menu">
    <div class="buttons">
      <button mat-button color="accent" routerLink="/sites">Sites</button>
      <button mat-button color="accent" routerLink="/config">Config Doc</button>
      <button mat-button color="accent" routerLink="/contact">Contact</button>
      <button mat-button color="accent" *ngIf="userService.isLoggedIn | async" (click)="logout()" s>Logout</button>
    </div>
    <div class="logo-container">
      <a href="https://www.anapaya.net" target="_blank" class="logo">
        <div></div>
      </a>
    </div>
  </div>
</mat-toolbar>

<main class="mat-typography wrapper">
  <router-outlet></router-outlet>
</main>

<footer class="primary mat-typography">
  <div>
    <span> SIG Policy Configuration v1.1.0 </span>
    <span> | </span>
    <span> © 2018 Anapaya Systems AG </span>
    <span> | </span>
    <span>
      <a href="mailto:info@anapaya.net"> Contact </a>
    </span>
    <span> | </span>
    <span>
      <a routerLink="/licenses"> Licenses </a>
    </span>
  </div>
</footer>
