<div class="flex-container">
  <h2 class="mat-h2">ISD-AS {{ia?.ISD}}-{{ia?.AS}}: {{ia?.Name}}</h2>
  <button color="primary" routerLink="/sites/{{site?.ID}}/ases" mat-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Remote IPv4 Networks
    </mat-expansion-panel-header>
    <ana-networks [ia]="ia"></ana-networks>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Traffic Policies
    </mat-expansion-panel-header>
    <ana-policies [ia]="ia" [site]="site"></ana-policies>
  </mat-expansion-panel>
</mat-accordion>
