mat-list-item,
.mat-list .mat-list-item {
    height: auto;
}

mat-nav-list {
    margin-bottom: 50px;
}

.name {
    margin-top: 12px;
}

.cond {
    margin-right: 20px;
    margin-top: 12px;
    font-size: 12px;
}
