.traffic-policy-form {
    display: flex;

    ng-select,
    .mat-form-field {
        width: 220px;
    }

    button {
        margin-right: 35px;
        float: right;
    }
}

mat-card.success,
mat-card.error {
    margin-bottom: 40px;
}

.selected-path-policies {
    width: 300px;
    margin-right: 40px;

    .mat-list-item {
        margin-left: -15px;
    }

    .name {
        width: 220px;
    }

    .policy-hint {
        margin-top: 10px;
    }
}

.all-path-policies {
    .mat-list {
        margin-left: -25px;
    }

    .mat-form-field {
        height: 30px;
        margin-top: -10px;
    }
}

.traffic-policies {
    margin-top: 20px;
    border-top: 1px solid lightgray;

    .name {
        width: 220px;
        overflow-wrap: break-word;

        .small {
            font-size: 12px;
        }
    }

    .mat-list-item {
        margin-bottom: 10px;
        min-height: 50px;
    }

    .traffic-class {
        width: 150px;
    }
}
