<div class="flex-container">
  <h2 class="mat-h2">Site Details: {{ site?.Name }}</h2>
  <button color="primary" routerLink="/sites" mat-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="flex-container cards" *ngIf="!newSite">
  <a routerLink="/sites/{{site?.ID}}/selectors">
    <mat-card>
      <mat-card-title>
        <p>Path Selectors</p>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-card-title>
    </mat-card>
  </a>
  <a routerLink="/sites/{{site?.ID}}/classes">
    <mat-card>
      <mat-card-title>
        <p>Traffic Classes</p>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-card-title>
    </mat-card>
  </a>
  <a routerLink="/sites/{{site?.ID}}/ases">
    <mat-card>
      <mat-card-title>
        <p>Remote ASes</p>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-card-title>
    </mat-card>
  </a>
</div>
<mat-accordion>
  <mat-expansion-panel *ngIf="!newSite">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Management
      </mat-panel-title>
      <mat-panel-description>
        Generate and push SIG config files
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Clicking the Push and reload config button will generate a new JSON SIG Config file from saved settings, copy it to each
      host in the site and then send a reload signal to the running SIG. Finally, the SIG is queried via HTTP to verify that
      it has loaded the correct config.</p>
    <mat-spinner [diameter]="40" *ngIf="loadingConfig" color="accent"></mat-spinner>
    <span *ngIf="reloadSuccess" class="success">Config successfully reloaded!</span>
    <div *ngIf="reloadError">
      <span class="error">{{reloadError}}</span>
      <div *ngFor="let k of errorKeys" class="hosts">
        <span>{{k}}</span>
        <mat-icon class="error" *ngIf="reloadErrorDesc[k]">error</mat-icon>
        <mat-icon class="success" *ngIf="!reloadErrorDesc[k]">done</mat-icon>
      </div>
    </div>
    <mat-action-row>
      <button (click)="reloadConfig()" mat-button>Push and Reload Config</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Site Configuration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ana-site-configuration [newSite]="newSite" [site]="site"></ana-site-configuration>
  </mat-expansion-panel>
</mat-accordion>
