.flex-container>button {
    margin-bottom: 20px;
}

mat-spinner {
    margin-top: 20px;
}

span {
    padding-left: 0;
}

.hosts {
    height: 35px;
    margin: 10px 0;
    .mat-icon {
        padding: 0 20px;
        margin: 0;
    }
}
