.flex-container>button {
    margin-bottom: 20px;
}

mat-spinner {
    margin-top: 20px;
}

span {
    padding-left: 0;
}

.hosts {
    height: 35px;
    margin: 10px 0;
    .mat-icon {
        padding: 0 20px;
        margin: 0;
    }
}

.cards {
    justify-content: unset;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.mat-card {
    width: 200px;
    height: 40px;
    margin-right: 20px;
    padding: 14px 20px;
}

.mat-card-title {
    color: #000;
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    p {
        margin-top: 12px;
    }
}
